@import "rsuite/dist/rsuite.css";

body{
  background-color: #f8f9fa
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.table{
  text-align: center;
}
.column{
  text-align: center;
}

option{
  color: black;
}
.column img{
  height:50px;
  width:50px !important;
  border-radius: 3px;
  border:1px solid black;
}
.column img:hover{
  cursor: pointer;
}